@charset "UTF-8";
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease-in;
}
a:visited {
  color: #ffffff;
}
a:active {
  color: #9356DC;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.discover__btn, .order__btn {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  border-radius: 1.5625rem;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
}
.discover__btn:hover, .order__btn:hover {
  background: linear-gradient(165deg, #ff93e1, #a16be0);
  box-shadow: 0px 3px 10px 0px rgba(27, 27, 31, 0.5);
  transform: scale(1.05);
  text-shadow: 2px 2px 5px rgba(100, 100, 111, 0.5);
}

.discover__btn {
  margin-bottom: 3.53125rem;
}

.header {
  width: 23.4375rem;
  height: 63px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.06);
}
@media (min-width: 321px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  width: 100%;
}
.header__arrow::before {
  content: "";
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #7e7e7e;
  font-size: 1.25rem;
}
.header__arrow::after {
  content: "";
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.header__arrow:hover::before {
  opacity: 0;
}
.header__arrow:hover::after {
  opacity: 1;
  animation: arrow 1s infinite;
}
@keyframes arrow {
  0% {
    left: 2.5rem;
    transform: translate(-50%, -50%);
  }
  50% {
    left: 2.8125rem;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    left: 2.5rem;
    transform: translate(-50%, -50%);
  }
}

.footer {
  width: 23.4375rem;
  margin: 0 auto;
  height: 200px;
  background: #353535;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding: 1.5625rem;
}
@media (min-width: 321px) {
  .footer {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
    max-width: 1024px;
    padding: 1.5625rem 1.875rem;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 100%;
    max-width: 1440px;
    padding: 1.5625rem 2.5rem;
  }
}
.footer__logo {
  font-size: 1.25rem;
  color: #ffffff;
  font-family: "Shrikhand", "cursive";
  width: 100%;
}
@media (min-width: 768px) {
  .footer__logo {
    font-size: 1.5625rem;
  }
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__list {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .footer__list {
    max-width: 1024px;
  }
}
.footer__link {
  color: #ffffff;
  width: 100%;
}
.footer__link a:hover {
  color: #9356DC;
}
@media (min-width: 768px) {
  .footer__link {
    width: auto;
  }
}
.footer__icon {
  width: 1.4375rem;
}

.local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  width: 100%;
  height: 49.5px;
}
.local__icon {
  font-size: 1.0625rem;
  margin-right: 0.9375rem;
  color: #353535;
}
.local__area {
  display: flex;
  text-align: center;
  font-size: 1.0625rem;
}

.discover {
  width: 100%;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 20px;
}
.discover__title {
  width: 100%;
  font-size: 1.75rem;
  margin-top: 2.78125rem;
  margin-bottom: 1.34375rem;
}
.discover p {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.125rem;
}

.operation {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 321px) {
  .operation {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .operation {
    padding: 0 30px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .operation {
    padding: 0 100px;
  }
}
.operation__title {
  width: 100%;
  padding-top: 3.3125rem;
  font-size: 1.75rem;
  margin-bottom: 2.0625rem;
}
.operation__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  width: 20.125rem;
  height: 4.6875rem;
  background: #f6f6f6;
  border-radius: 0.9375rem;
  padding: 1.75rem;
  margin-bottom: 1.40625rem;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(151, 151, 162, 0.5);
  transition: transform 0.2s ease-out;
}
.operation__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-right: -0.9375rem;
  width: 0rem;
  height: 100%;
  opacity: 0.2;
  border-radius: 0.9375rem;
  background: #9356DC;
  transition: width 0.2s ease-out;
}
.operation__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 10px 0px rgba(52, 52, 57, 0.5);
}
.operation__item:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}
.operation__item:hover .operation__icon {
  color: #9356DC;
  font-size: 1.25rem;
}
.operation__item:hover .operation__txt {
  letter-spacing: 0.0125rem;
}
@media (min-width: 768px) {
  .operation__item:hover .operation__icon {
    font-size: 1.5625rem;
  }
  .operation__item:hover .operation__txt {
    letter-spacing: 0.0625rem;
  }
}
@media (min-width: 321px) {
  .operation__item {
    width: 60%;
    min-width: 19.5rem;
  }
}
@media (min-width: 768px) {
  .operation__item {
    width: 30%;
    min-width: 30%;
    min-height: 6.75rem;
    padding: 0;
    justify-content: center;
  }
}
.operation__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.9375rem;
  color: #ffffff;
  background-color: #9356DC;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 1.375rem;
  border-radius: 0.9375rem;
}
@media (min-width: 768px) {
  .operation__num {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: -0.625rem;
  }
}
.operation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #7e7e7e;
  width: 3.125rem;
  transition: font-size 0.5s;
}
@media (min-width: 768px) {
  .operation__icon {
    font-size: 1.25rem;
    background: linear-gradient(#ffffff 50%, #f6f6f6);
    width: 100%;
    height: 50%;
    padding-top: 1.25rem;
    border-radius: 0.9375rem;
  }
}
.operation__info {
  width: 75%;
}
.operation__txt {
  font-size: 1rem;
  font-weight: 600;
  transition: letter-spacing 0.5s;
}
@media (min-width: 768px) {
  .operation__txt {
    padding-bottom: 0rem;
  }
}

.main {
  width: 23.4375rem;
  margin: 0 auto;
  flex: 1;
}
@media (min-width: 321px) {
  .main {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main {
    width: 100%;
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f6f6f6;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .menu {
    justify-content: space-between;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .menu {
    padding: 0 100px;
  }
}
.menu__title {
  width: 100%;
  padding-top: 3.75rem;
  margin-bottom: 1.75rem;
}
.menu__cards {
  position: relative;
  width: 100%;
  height: 15.71875rem;
  margin-bottom: 1.125rem;
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.06);
}
@media (min-width: 768px) {
  .menu__cards {
    width: 49%;
  }
}
.menu__cards:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 10px 0px rgba(52, 52, 57, 0.5);
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  color: inherit;
}
.menu__img {
  width: 100%;
  height: 10.9375rem;
}
.menu__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.menu__new {
  position: absolute;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 600;
  right: 0.75rem;
  top: 0.75rem;
  width: 4.9375rem;
  height: 1.8125rem;
  line-height: 1.8125rem;
  border-radius: 0.1875rem;
  color: #278870;
  background: #99E2D0;
}
.menu__cont-info {
  width: 100%;
  height: 4.8125rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.menu__info {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.75rem;
}
.menu__name {
  font-size: 1.1875rem;
  margin-bottom: 0.1875rem;
}
.menu__loc {
  font-size: 1.09375rem;
}
.menu__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  position: relative;
  flex: 1;
}
.menu__heart .heart__icon {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: opacity 1s;
}
.menu__heart .heart__icon::after {
  content: "";
  font-weight: 600;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  color: transparent;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  background-clip: text;
  background-size: 100% 200%;
  background-position: bottom;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, font-weight 0.5s;
  transform: scale(0);
  transform-origin: bottom;
}
.menu__heart .heart__icon:hover::before {
  font-weight: 600;
  background: #6023a9;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__heart .heart__icon:hover::after {
  opacity: 1;
  animation: beat 1s infinite;
}
@keyframes beat {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.menu .far, .menu .fas {
  display: flex;
}

.main-resto {
  width: 23.4375rem;
  margin: 0 auto;
  background: #f6f6f6;
  flex: 1;
}
.main-resto__img {
  width: 100%;
  height: 16.25rem;
}
.main-resto__img--menu1 {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
}
.main-resto__img--menu2 {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
}
.main-resto__img--menu3 {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
}
.main-resto__img--menu4 {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
}
@media (min-width: 321px) {
  .main-resto {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-resto {
    width: 100%;
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .main-resto {
    max-width: 1440px;
  }
}
.main-resto .container-resto {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  top: -2.5625rem;
  padding: 0 15px;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}
@media (min-width: 768px) {
  .main-resto .container-resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-resto .container-resto {
    padding: 0 100px;
  }
}
.main-resto .container-resto .name {
  width: 100%;
  display: flex;
  font-size: 1rem;
  padding-top: 1.5625rem;
  padding-right: 0.9375rem;
}
.main-resto .container-resto .name__title {
  font-size: 1.75rem;
  width: 100%;
  font-family: "Shrikhand", "cursive";
  padding-left: 0.3125rem;
  padding-top: 0.3125rem;
  white-space: nowrap;
}
.main-resto .container-resto__heart {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-resto .container-resto .resto {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .main-resto .container-resto .resto {
    margin: 0 auto;
    width: 75%;
    gap: 1.5625rem;
  }
}
@media (min-width: 1024px) {
  .main-resto .container-resto .resto {
    flex-direction: column;
    justify-content: space-between;
    width: 31.5%;
    gap: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .main-resto .container-resto .resto {
    padding-bottom: 0rem;
  }
}
.main-resto .container-resto .resto__title {
  width: 100%;
  padding-top: 2.625rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 0.3125rem;
}
.main-resto .container-resto .resto h3::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 2.5rem;
  background: #99E2D0;
  margin-top: 0.5625rem;
}
.main-resto .container-resto .resto__card {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 4.28125rem;
  overflow: hidden;
  border-radius: 0.9375rem;
  padding-right: 1rem;
  box-shadow: 0px 3px 10px 0px rgba(151, 151, 162, 0.5);
  animation-name: fadein;
  animation-timing-function: cubic-bezier(0.05, 0.43, 0.58, -0.05);
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translatey(15px);
  }
}
.main-resto .container-resto .resto__card--1 {
  animation-delay: 0.3s;
}
.main-resto .container-resto .resto__card--2 {
  animation-delay: 0.6s;
}
.main-resto .container-resto .resto__card--3 {
  animation-delay: 0.9s;
}
.main-resto .container-resto .resto__card--4 {
  animation-delay: 1.2s;
}
.main-resto .container-resto .resto__card--5 {
  animation-delay: 1.5s;
}
.main-resto .container-resto .resto__card--6 {
  animation-delay: 1.8s;
}
.main-resto .container-resto .resto__card--7 {
  animation-delay: 2.1s;
}
.main-resto .container-resto .resto__card--8 {
  animation-delay: 2.4s;
}
.main-resto .container-resto .resto__card--9 {
  animation-delay: 2.7s;
}
@media (min-width: 321px) {
  .main-resto .container-resto .resto__card {
    width: 100%;
    margin: 0 auto;
  }
}
.main-resto .container-resto .resto__card:hover .resto__anim {
  width: 20%;
}
.main-resto .container-resto .resto__card:hover .resto__icon {
  transform: rotate(0);
  margin-right: 0rem;
}
.main-resto .container-resto .resto__info {
  flex: 1;
  padding: 1rem 0rem 1rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-resto .container-resto .resto__name {
  font-size: 1rem;
  margin-bottom: 0.1875rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-resto .container-resto .resto__ing {
  font-size: 0.9375rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-resto .container-resto .resto__price {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 1rem 1rem;
}
.main-resto .container-resto .resto__anim {
  display: flex;
  width: 0;
  height: 100%;
  margin-right: -1rem;
  background-color: #99E2D0;
  color: #ffffff;
  font-size: 1.875rem;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-out, margin 0.5s ease-out;
}
.main-resto .container-resto .resto__icon {
  margin-right: -1.875rem;
  transform: rotate(360deg);
  transition: transform 0.5s ease-out;
}
.main-resto .order {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-resto .order__btn {
  padding: 0.9375rem 2.5rem;
}

/*# sourceMappingURL=style.css.map */
