*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:active {
  color: #9356DC;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.discover__btn, .order__btn {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  border-radius: 1.5625rem;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  margin-bottom: 3.53125rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 3px 10px 0px;
  transition: all 0.2s ease-out;
}
.discover__btn:hover, .order__btn:hover {
  background: linear-gradient(165deg, #ff93e1, #ae80e5);
  box-shadow: rgba(27, 27, 31, 0.5) 0px 3px 10px 0px;
  transform: scale(1.05);
}

.header {
  width: 23.4375rem;
  height: 63px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 321px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  width: 100%;
}
.header__back {
  position: absolute;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.header__back :before {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #7e7e7e;
}
.header__back__sec, .header__back__thi {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  transition: all 0.2 ease-in-out;
}
.header__back__sec:hover, .header__back__thi:hover {
  transform: scaleX(50%);
  left: 2.5rem;
}
.header__back__sec :before, .header__back__thi :before {
  position: absolute;
  color: #7e7e7e;
  transform: translate(-50%, -50%);
}

.footer {
  width: 23.4375rem;
  margin: 0 auto;
  height: 200px;
  background: #353535;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  text-align: start;
  padding: 1.5625rem;
}
@media (min-width: 321px) {
  .footer {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 100%;
    max-width: 1440px;
  }
}
.footer__logo {
  text-align: start;
  font-size: 1.25rem;
  color: #ffffff;
  font-family: "Shrikhand", "cursive";
  width: 100%;
}
@media (min-width: 768px) {
  .footer__logo {
    font-size: 1.5625rem;
  }
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__list {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .footer__list {
    max-width: 1024px;
  }
}
.footer__link {
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__link {
    width: auto;
  }
}
.footer__icon {
  width: 1.4375rem;
}

.local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  width: 100%;
  height: 49.5px;
  box-shadow: inset 0 8px 6px -6px rgba(149, 157, 165, 0.5);
}
.local__icon {
  font-size: 1.0625rem;
  margin-right: 0.9375rem;
  color: #353535;
}
.local__area {
  display: flex;
  text-align: center;
  font-size: 1.0625rem;
}

.discover {
  width: 100%;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 20px;
}
.discover__title {
  width: 100%;
  font-size: 1.75rem;
  margin-top: 2.78125rem;
  margin-bottom: 1.34375rem;
}
.discover p {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.125rem;
}

.operation {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .operation {
    justify-content: space-between;
  }
}
.operation__title {
  width: 100%;
  padding-top: 3.3125rem;
  font-size: 1.75rem;
  margin-bottom: 2.0625rem;
}
.operation__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  width: 20.125rem;
  background: #f6f6f6;
  border-radius: 0.9375rem;
  padding: 1.25rem;
  margin-left: 0.9375rem;
  margin-bottom: 1.40625rem;
  text-align: center;
  box-shadow: rgba(151, 151, 162, 0.5) 0px 3px 10px 0px;
}
.operation__item .fa, .operation__item .far, .operation__item .fas {
  line-height: 0.7;
}
@media (min-width: 321px) {
  .operation__item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .operation__item {
    width: 30%;
    padding: 0;
    justify-content: center;
  }
}
.operation__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.625rem;
  color: #ffffff;
  background-color: #9356DC;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 1.375rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .operation__num {
    height: 100%;
    border-radius: 0.9375rem 0 0 0.9375rem;
  }
}
.operation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 0.625rem;
  font-size: 1rem;
  color: #7e7e7e;
}
@media (min-width: 768px) {
  .operation__icon {
    font-size: 1.25rem;
    background: linear-gradient(#ffffff 50%, #f6f6f6);
    width: 100%;
    padding: 0.9375rem;
    height: 50%;
    text-align: center;
  }
}
.operation__info {
  width: 75%;
}
.operation__txt {
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .operation__txt {
    padding: 0.9375rem;
  }
}

.main {
  width: 23.4375rem;
  margin: 0 auto;
}
@media (min-width: 321px) {
  .main {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main {
    width: 100%;
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f6f6f6;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .menu {
    justify-content: space-between;
    padding: 0 30px;
  }
}
.menu__title {
  width: 100%;
  padding-top: 3.75rem;
  margin-bottom: 1.75rem;
}
.menu__cards {
  position: relative;
  width: 100%;
  height: 15.71875rem;
  margin-bottom: 1.125rem;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 3px 10px 0px;
}
@media (min-width: 768px) {
  .menu__cards {
    width: 49%;
  }
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  color: inherit;
}
.menu__img {
  width: 100%;
  height: 10.9375rem;
}
.menu__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.menu__new {
  position: absolute;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 600;
  right: 0.75rem;
  top: 0.75rem;
  width: 4.9375rem;
  height: 1.8125rem;
  line-height: 1.8125rem;
  border-radius: 0.1875rem;
  color: #278870;
  background: #99E2D0;
}
.menu__cont-info {
  width: 100%;
  height: 4.8125rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.menu__info {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.75rem;
}
.menu__name {
  font-size: 1.1875rem;
  margin-bottom: 0.1875rem;
}
.menu__loc {
  font-size: 1.09375rem;
}
.menu__heart {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__heart .heart__icon {
  font-size: 1.4375rem;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-color 0.5s ease;
}
.menu__heart .heart__icon::before {
  padding: 0.125rem;
}
.menu__heart .heart__icon:hover {
  padding: rem5(2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: pulsate 0.5s infinite;
  font-weight: 900;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.menu .fa, .menu .far {
  display: flex;
}

.main-resto {
  width: 23.4375rem;
  margin: 0 auto;
  background: #f6f6f6;
}
.main-resto__img {
  width: 100%;
  height: 16.25rem;
}
.main-resto__img--menu1 {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
}
.main-resto__img--menu2 {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
}
.main-resto__img--menu3 {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
}
.main-resto__img--menu4 {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
}
@media (min-width: 321px) {
  .main-resto {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-resto {
    width: 100%;
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .main-resto {
    max-width: 1440px;
  }
}
.main-resto .container-resto {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  top: -2.5625rem;
  padding: 0 15px;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
  z-index: 100;
}
@media (min-width: 768px) {
  .main-resto .container-resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }
}
.main-resto .container-resto .name {
  width: 100%;
  display: flex;
  font-size: 1rem;
  padding-top: 1.5625rem;
}
.main-resto .container-resto .name__title {
  font-size: 1.75rem;
  width: 100%;
  font-family: "Shrikhand", "cursive";
  padding-left: 0.3125rem;
}
.main-resto .container-resto__heart {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-resto .container-resto .resto {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
@media (min-width: 768px) {
  .main-resto .container-resto .resto {
    flex-direction: column;
    justify-content: space-between;
    width: 31.5%;
    gap: 1.5625rem;
  }
}
.main-resto .container-resto .resto__title {
  width: 100%;
  padding-top: 2.625rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 0.3125rem;
  padding-bottom: 0.875rem;
}
.main-resto .container-resto .resto h3::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 2.5rem;
  background: #99E2D0;
  margin-top: 0.5625rem;
}
.main-resto .container-resto .resto__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  border-radius: 0.9375rem;
  padding-left: 0.9375rem;
  padding-right: 1.40625rem;
  box-shadow: rgba(151, 151, 162, 0.5) 0px 3px 10px 0px;
}
@media (min-width: 768px) {
  .main-resto .container-resto .resto__card {
    min-height: 5.75rem;
  }
}
.main-resto .container-resto .resto__info {
  padding: 0.59375rem 0;
  width: 80%;
  height: 100%;
}
.main-resto .container-resto .resto__name {
  font-size: 1rem;
  margin-bottom: 0.1875rem;
}
.main-resto .container-resto .resto__ing {
  font-size: 0.84375rem;
}
.main-resto .container-resto .resto__price {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.59375rem;
}
.main-resto .container-resto .resto__price p {
  font-size: 0.84375rem;
  font-weight: 800;
}
.main-resto .container-resto .resto__anim {
  display: none;
}
.main-resto .order {
  text-align: center;
}
.main-resto .order__btn {
  padding: 0.9375rem 3.125rem;
}

/*# sourceMappingURL=style.css.map */
