.footer {
    width: rem(375);
    margin: 0 auto;
    height: 200px;
    background: $grey-footer;
    display: flex;
    flex-wrap: wrap;
    @include padding(mobile);
    text-align: start;
    padding: rem(25);
    &__logo {
        text-align: start;
        font-size: rem(20);
        color: #ffffff;
        font-family: 'Shrikhand',"cursive";
        width: 100%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        width: 100%;
        a:visited {
            color: #ffffff;
        }
    }
    &__icon {
        width: rem(23);
    }
}