*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    font-size: $base-font-size;
}

a {
    text-decoration: none;
    &:visited {
        color: #ffffff;
    }
    &:active {
        color: $colour-primary;
    }
}

li {
    list-style-type: none;
}