.main-resto {
    width: rem(375);
    margin: 0 auto;
    background: $grey-bg;
    flex: 1;
    &__img {
        width: 100%;
        height: rem(260);
        @include bg-img($bg-url);
    }
    @include smartphone {
        width: 100%;
    }
    @include tablet-only {
        width: 100%;
        max-width: 1024px;
    }
    @include desktop {
        max-width: 1440px;
    }
    .container-resto {
        width: 100%;
        background: $grey-bg;
        position: relative;
        top: rem(-41);
        @include padding(mobileresto);
        border-top-left-radius: rem(30);
        border-top-right-radius: rem(30);
        @include tablet-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include padding(tablet);
        }
        @include desktop {
            @include padding(desktop);
        }
        .name {
            width: 100%;
            display: flex;
            font-size: rem(16);
            padding-top: rem(25);
            padding-right: rem(15);
            &__title {
                font-size: rem(28);
                width: 100%;
                font-family: 'Shrikhand',"cursive";
                padding-left: rem(5);
                padding-top: rem(5);
                white-space: nowrap;
            }
        }
        &__heart {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .resto {
            display: flex;
            flex-wrap: wrap;
            gap: rem(10);
            padding-bottom: rem(12);
            @include tablet-only {
                margin: 0 auto;
                width: 75%;
                gap: rem(25);
            }
            @include laptop {
                flex-direction: column;
                width: 31.5%;
                gap: rem(25);
            }
            @include desktop {
                padding-bottom: rem(0);
            }
            &__title {
                width: 100%;
                padding-top: rem(42);
                font-size: rem(16);
                font-weight: 400;
                text-transform: uppercase;
                padding-left: rem(5);
            }
            h3::after {
                content: "";
                display: block;
                height: rem(3);
                width: rem(40);
                background: $colour-tertiary;
                margin-top: rem(9);
            }
            &__card {
                display: flex;
                align-items: center;
                cursor: pointer;
                width: 100%;
                max-width: 100%;
                height: rem(68.5);
                overflow: hidden;
                border-radius: rem(15);
                padding-right: rem(16);
                @include box-shadow-mod;
                // gestion de l'animation fadein
                @include fadein-anim;
                animation-name: fadein;
                animation-timing-function: cubic-bezier(.05,.43,.58,-0.05);
                animation-duration: .3s;
                animation-fill-mode: both;
                @include transition;
                @include smartphone {
                    width: 100%;
                    margin: 0 auto;
                }
                &:hover .resto__anim {
                    width: 20%;
                }
                &:hover .resto__icon {
                    transform: rotate(0);
                    margin-right: rem(0);
                }
            }
            &__info {
                flex: 1;
                padding: rem(16) rem(0) rem(16) rem(16);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__name {
                font-size: rem(16);
                margin-bottom: rem(3);
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__ing {
                font-size: rem(15);
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__price {
                height: 100%;
                display: flex;
                align-items: flex-end;
                font-size: rem(15);
                font-weight: 700;
                padding: rem(16)rem(16);
            }
            &__anim {
                display: flex;
                width: 0;
                height: 100%;
                margin-right: rem(-16);
                background-color: $colour-tertiary;
                color: #ffffff;
                font-size: rem(30);
                justify-content: center;
                align-items: center;
                transition: width .5s ease-out, margin .5s ease-out;
            }
            &__icon {
                margin-right: rem(-30);
                transform: rotate(360deg);
                transition: transform .5s ease-out;
            }
        }
    }
    .order {
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &__btn {
            padding: rem(15) rem(40);
        }
    }
}