.main-resto {
    width: rem(375);
    margin: 0 auto;
    background: $grey-bg;
    &__img {
        width: 100%;
        height: rem(260);
        @include bg-img($bg-url);
    }
    @include smartphone {
        width: 100%;
    }
    @include tablet-only {
        width: 100%;
        max-width: 1024px;
    }
    @include desktop {
        max-width: 1440px;
    }
    .container-resto {
        width: 100%;
        background: $grey-bg;
        position: relative;
        top: rem(-41);
        @include padding(mobileresto);
        border-top-left-radius: rem(30);
        border-top-right-radius: rem(30);
        z-index: 100;
        @include tablet-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include padding(tablet);
        }
        .name {
            width: 100%;
            display: flex;
            font-size: rem(16);
            padding-top: rem(25);
            &__title {
                font-size: rem(28);
                width: 100%;
                font-family: 'Shrikhand',"cursive";
                padding-left: rem(5);
            }
        }
        &__heart {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .resto {
            display: flex;
            flex-wrap: wrap;
            gap: rem(10);
            @include tablet-only {
                flex-direction: column;
                justify-content: space-between;
                width: 31.5%;
                gap: rem(25);
            }
            &__title {
                width: 100%;
                padding-top: rem(42);
                font-size: rem(16);
                font-weight: 400;
                text-transform: uppercase;
                padding-left: rem(5);
                padding-bottom: rem(14);
            }
            h3::after {
                content: "";
                display: block;
                height: rem(3);
                width: rem(40);
                background: $colour-tertiary ;
                margin-top: rem(9);
            }
            &__card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                cursor: pointer;
                width: 100%;
                border-radius: rem(15);
                padding-left: rem(15);
                padding-right: rem(22.5);
                @include box-shadow-mod;
                @include tablet-only {
                    min-height: rem(92);
                }
            }
            &__info {
                padding: rem(9.5) 0;
                width: 80%;
                height: 100%;
            }
            &__name {
                font-size: rem(16);
                margin-bottom: rem(3);
            }
            &__ing {
                font-size: rem(13.5);
            }
            &__price {
                height: 100%;
                display: flex;
                align-items: flex-end;
                padding-bottom: rem(9.5);
                p {
                    font-size: rem(13.5);
                    font-weight: 800;
                }
            }
            &__anim {
                display: none;
            }
        }
    }
    .order {
        text-align: center;
        &__btn {
            padding: rem(15) rem(50);
        }
    }
}