@mixin box-shadow ($color : rgba(0, 0, 0, 0.06)){
    box-shadow: 0 5px 4px $color;
}

@mixin box-shadow-mod ($color: lighten(rgba(100, 100, 111, 0.5), 20%)) {
    box-shadow: 0px 3px 10px 0px $color;
}

@mixin one-edge-shadow ($color : rgba(149, 157, 165, 0.5)) {
    box-shadow: inset 0 8px 6px -6px $color;
}

@mixin border($colour: $colour-primary) {
    border: .1rem solid $colour;
}

@mixin padding($screen) {
    padding: 0 map-get($padding, $screen);
}

@mixin anim-pulsate {
    @keyframes pulsate {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
}

$path: '../images/restaurants/';

$bg-url: (
  menu1: url(#{$path}jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover,
  menu2: url(#{$path}stil-u2Lp8tXIcjw-unsplash.jpg) center/cover,
  menu3: url(#{$path}toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover,
  menu4: url(#{$path}louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover
);

@mixin bg-img($map) {
  @each $menu, $val in $map {
    &--#{$menu} { // on concatene avec --variable
      background: $val;
    }
  }
}

@mixin transition {
    @for $i from 1 through 9 {
        &--#{$i}{
            // units are in the variable so SCSS just does math
            animation-delay: #{$i*$timeOffset};
        }
    }
}

@mixin smartphone {
    @media (min-width: 321px) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin beat-anim {
    @keyframes beat {
        0% {
          transform: scale(1.2);
        }
        50% {
          transform: scale(0.7);
        }
        100% {
            transform: scale(1);
          }
      }
}

@mixin fadein-anim {
    @keyframes fadein {
        0% {
            opacity:0;
            transform: translatey(-15px);
        }
        50% {
            opacity:0.5;
        }
        100% {
            opacity:1;
            transform: translatey(15px);
        }
    }
}

@mixin spin-anim {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
      }
}

@mixin arrow-anim {
    @keyframes arrow {
        0% {
            left: rem(40);
            transform-origin: right;
            transform: translate(-50%,-50%);
        }
        25% {
            left: rem(30);
            transform: translate(-50%,-50%);
            font-size: rem(20);
            
        }
        100% {
            left: rem(40);
            transform: translate(-50%,-50%);
            font-size: rem(25);
            
        }
      }
}

@mixin load {
    @keyframes load {
        80% {
            opacity: 1;
            z-index: 200;
        }
        100% {
            opacity: 0;
            z-index: -10;
        }
    }
}

